:root {
  --background-color: #0B0E16;
  --primary-color: #111827;
  --border-color: #1F2937;
  --online-color: #22C55E;
  --purple-primary: #8B5CF6;
  --purple-dark: #6D28D9;
  --muted: #9CA3AF;
  --subtle: #6B7280;
  --purple-light: #A78BFA;
}

/* Fonts */
.rajdhani-light {
  font-family: "Rajdhani", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.rajdhani-regular {
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rajdhani-medium {
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.rajdhani-semibold {
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  font-style: normal;
}

body {
  background-color: var(--background-color) !important;
  color: whitesmoke !important;
  background: linear-gradient(
  135deg,
  transparent 40%,
  rgba(59,130,246,0.3) 43%,   /* soft blue tail */
  rgba(59,130,246,0.6) 47%,   /* main blue */
  rgba(147,51,234,0.6) 52%,   /* main purple */
  rgba(192,132,252,0.4) 56%,  /* purple glow front */
  transparent 60%
);
  background-size: 200% 200%;
  animation: introShift 10s linear infinite;
}

p {
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  font-style: normal;
  
}

/* Home Page */
.intro {
  height: 40vh;
  color: whitesmoke;
}



.reborn {
  color: var(--purple-dark);
}

#online-count {
  color: var(--online-color);
}

.controller {
  color: var(--purple-primary);
}

.card-img-top {
  height: 220px;
  object-fit: fill;
}

.game-link {
  text-decoration: none;
  color: var(--purple-light);
}

.game-link:hover {
  color: var(--purple-dark);
}

.border-purple {
  border: 2px var(--purple-primary) solid;
  border-radius: 8px;
}

.server {
  color: blue;
}

.community {
  color: var(--purple-primary);
}

/* About Page */


/* Servers Page */


.thumbnail-width {
  width: auto;
  height: 250px;
  overflow: hidden;
}

/* All */
h1 {
  font-family: "Orbitron", sans-serif;
  font-style: normal;
}

h2 {
  font-family: "Orbitron", sans-serif;
  font-style: normal;
}

h3 {
  font-family: "Orbitron", sans-serif;
  font-style: normal;
}

.buttons {
  background-color: var(--purple-dark) !important;
  border: 2px var(--purple-primary) solid !important;
  font-family: "Rajdhani" sans-serif !important;
  font-weight: 600 !important;
  color: whitesmoke !important;
}

.buttons:hover {
  background-color: var(--purple-light) !important;
}

.navbar a {
  color: whitesmoke !important;
}

.active {
  font-weight: bolder !important;
}

.color-white {
  color: whitesmoke !important;
}

.color-primary {
  color: var(--purple-primary);
}

.muted {
  color: var(--muted);
}

.subtle {
  color: var(--subtle);
}

.bg-card {
  background-color: var(--primary-color);
  color: whitesmoke !important;
}

.card:hover {
  border: 2px var(--purple-dark) solid !important;
}

.border-color {
  border: 2px var(--border-color) solid !important;
  border-radius: 8px;
}

.online-color {
  color: var(--online-color);
}


/* Gradient Shifts */
@keyframes introShift {
  0% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%
  }
}
